################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/DependencyInjectionWorkshop/bin/Debug
/DependencyInjectionWorkshop/obj/Debug
/DependencyInjectionWorkshopTests/obj/Debug
/DependencyInjectionWorkshopTests/bin/Debug
/MyConsole/obj/Debug
/MyConsole/bin/Debug
/packages
/.vs/DependencyInjectionWorkshop/v15/Server/sqlite3
